@import url('non.geist');
@import url('../styles/layout.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Geist Variable', -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-mono: 'Geist Mono Variable', monospace;

  /* Roaring Green */
  --roaring-green: hsl(126, 48%, 76%);
  --roaring-green-shade-1: hsl(144, 27%, 66%);
  --roaring-green-shade-2: hsl(140, 33%, 84%);

  /* Storm Colors */
  --storm-color: hsl(212, 14%, 7%);
  --storm-shade-1: hsl(0, 0%, 0%);
  --storm-shade-2: hsl(197, 28%, 26%);

  /* Yellow Burst */
  --yellow: hsl(50, 69%, 52%);
  --yellow-shade-1: hsl(44, 87%, 41%);
  --yellow-shade-2: hsl(47, 84%, 76%);

  /* neutral */
  --neutral: hsl(200, 23%, 8%);
  --neutral-shade-1: hsl(163, 80%, 27%);
  --neutral-shade-2: hsl(168, 35%, 47%);

  /* Bolt Brand */
  --bolt: hsl(8, 82%, 58%);
  --bolt-shade-1: hsl(7, 86%, 42%);
  --bolt-shade-2: hsl(3, 94%, 80%);

  /* Additional Neutral Colors */
  --neutral-light: hsl(200, 22%, 29%);
  --neutral-shade-1: hsl(206, 20%, 69%);
  --neutral-shade-2: hsl(206, 33%, 92%);

  --bg-green-light: #e7f6ea;
  --black: black;
  --bg-green: #0f1518;
  --white: white;
  --dark-slate-grey: #135545;
  --primary-color-light: #d0edd6;
  --primary-green-dark: #283b43;
  --primary-color-green: #abe5b1;
  --text-color-1: #adbbc1;
  --primary-color-dark: #90c0a6;
  --dark-green: #1a2327;
  --dark-sea-green: #78a17c;
  --light-grey: #f4f4f4;
  --text-green: #4e905a;
  --neutral-2: #e7edf0;
  --light-slate-grey: #86969d;

  --select-color: var(--neutral);
  font-family: var(--font-family);
  color: var(--storm-color);
}

.container-main{
  @apply max-w-[1536px] mx-auto;
}
* {
  box-sizing: border-box;
}
h1 {
  @apply xl:text-[6rem] md:text-7xl text-4xl;
}

::-moz-selection {
  /* Code for Firefox */
  @apply dark:bg-select-color  text-white;
}

::selection {
  @apply bg-select-color text-white;
}

@layer utilities {
  .container-main {
    @apply xl:px-[calc(100%/12)] md:px-16 sm:px-6 px-4;
  }
}
.center-x-position {
  @apply -translate-x-1/2 -left-1/2;
}
